.entry-header,
.entry-footer,
.page-header {
	max-width: map-get($container-max-widths, "lg");
	margin: 0 auto $grid-gutter-width;
}

.wp-block-cover__inner-container,
.wp-block-group__inner-container,
.page-content,
.entry-content {

	> div[class^="wp-block-"] {
		margin-bottom: $block-margin;

		&:last-child {
			margin-bottom: 0;
		}
	}

	> *:not(.alignwide):not(.alignfull) {
		max-width: calc(100% - #{$grid-gutter-width});
		margin-right: auto;
		margin-left: auto;

		@include media-breakpoint-up(lg) {
			max-width: map-get($container-max-widths, "lg");
		}

		@include media-breakpoint-up(xl) {
			max-width: map-get($container-max-widths, "xl");
		}
	}

	.alignwide {
		max-width: calc(100vw - #{$grid-gutter-width});
		margin-right: auto;
		margin-left: auto;

		@include media-breakpoint-up(lg) {
			max-width: map-get($container-max-widths, "lg") + 140px;
		}

		@include media-breakpoint-up(xl) {
			max-width: map-get($container-max-widths, "xl") + 140px;
		}
	}

	.alignfull {
		width: calc(100% + #{$grid-gutter-width});
		margin-left: calc(#{$grid-gutter-width} / -2);

		// img {
		// 	width: 100vw;
		// }
	}
}

.wp-block-group__inner-container .wp-block-group__inner-container,
.wp-block-cover__inner-container .wp-block-cover__inner-container,
.wp-block-cover__inner-container .wp-block-group__inner-container,
.wp-block-group__inner-container .wp-block-cover__inner-container {

	> *:not(.alignwide):not(.alignfull) {
		max-width: none;
		margin-right: auto;
		margin-left: auto;
	}
}
