// Center block
@mixin center-block {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

// Clearfix
@mixin clearfix() {
	display: table;
	table-layout: fixed;
	content: "";
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns-margin * ( $numberColumns - 1 ) ) / $numberColumns );
}
